html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comic Sans MS", Verdana, Arial, sans-serif;
    font-size: 20px;
    background-color: #e0e0e0;
    overflow: hidden;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
    letter-spacing: 2px;
}

svg {
    fill: currentColor;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main,
#settings-dialog-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

main,
#settings-dialog-wrapper {
    transition: transform 1s;
}

main {
    padding: 24px 0;
    box-sizing: border-box;
    transform: translateY(100%);
    overflow-y: auto;
}

body.ingame main {
    transform: none;
}

#settings-dialog-wrapper {
    z-index: 10;
    background-color: #aaa;
    box-shadow: inset 0 -16px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#settings-dialog {
    box-sizing: border-box;
    background: white;
    border-radius: 16px;
    width: 500px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 24px;
}

body.ingame #settings-dialog-wrapper {
    transform: translateY(-100%);
}

button {
    display: inline-block;
    cursor: pointer;
    outline: none;
    background-color: #555;
    color: white;
    border: none;
    font-size: 1.2em;
    transition-property: transform, box-shadow;
    transition-duration: 0.4s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 8px 16px;
    border-radius: 8px;
}

@media (pointer: fine) {
    button:hover {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        transform: scale(1.1);
    }
}

button:active {
    transform: scale(0.8);
}

button.round {
    margin: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.hidden {
    pointer-events: none;
    transform: scale(0);
}

#settings-players {
    position: relative;
    transition: height 0.4s;
}

.settings-player {
    position: absolute;
    height: 50px;
    width: 100%;
    transition-property: transform, top;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#settings-pairs {
    margin-top: 36px;
    display: flex;
    align-items: center;
}

input {
    border: solid #777 2px;
    border-radius: 8px;
    outline: none;
    font-size: 1em;
    transition: border-color 0.4s;
    padding: 8px;
}

input:focus {
    border-color: #59f;
}

#start-game,
#reset-game {
    background-color: #57f;
}

#start-game {
    align-self: flex-end;
    margin-top: 36px;
}

#game-header {
    padding-left: 24px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#clock {
    width: 32px;
    height: 32px;
    margin-left: 32px;
    fill: #666;
}

#time {
    margin-left: 2px;
}

#game {
    display: flex;
    padding: 24px;
    justify-content: space-evenly;
}

#players {
    padding-right: 36px;
}

.player {
    padding: 8px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-top: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    min-width: 20vw;
    background-color: rgba(255, 255, 255, 0.4);
    transition: box-shadow 0.4s;
}

@keyframes activePlayerAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.04);
    }
}

.player.active {
    animation-name: activePlayerAnimation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 0 0 8px #57f;
}

.player-name {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.player-smileys {
    color: #666;
}

#board {
    width: 800px;
    max-width: 90%;
    display: grid;
    grid-gap: 24px;
}

.card-slot {
    padding-bottom: 100%;
    position: relative;
    perspective: 600px;
}

.card-slot.clickable {
    cursor: pointer;
}

@keyframes focusedCard {
    from {
        transform: rotate(-3deg);
    }
    50% {
        transform: scale(1.05);
    }
    to {
        transform: rotate(3deg);
    }
}

.card-slot.clickable:hover {
    animation-name: focusedCard;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.card-slot div {
    pointer-events: none;
    border-radius: 12%;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card-slot.flipped .card {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    background-color: #eee;
    background-size: 20%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23bbb' width='18px' height='18px'%3E%3Ccircle cx='15.5' cy='9.5' r='1.5'/%3E%3Ccircle cx='8.5' cy='9.5' r='1.5'/%3E%3Cpath d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm0-2.5c2.33 0 4.32-1.45 5.12-3.5h-1.67c-.69 1.19-1.97 2-3.45 2s-2.75-.81-3.45-2H6.88c.8 2.05 2.79 3.5 5.12 3.5z'/%3E%3C/svg%3E");
}

.card-front {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    user-select: none;
}

@media (max-width: 900px) {
    #game {
        padding: 24px 0;
        flex-direction: column;
    }

    #players {
        padding: 32px;
    }

    .player {
        min-width: 0;
    }

    #board {
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    #board {
        grid-gap: 16px;
    }

    .card-back {
        background-size: 25%;
    }
}

@media (max-width: 500px) {
    #board {
        grid-gap: 8px;
    }

    .card-back {
        background-size: 50%;
    }
}
