html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Comic Sans MS", cursive;
	font-size: 20px;
	background-color: #ddd;
	overflow: hidden;
}

h1 {
	margin: 0.5em 0;
	letter-spacing: 2px;
}

svg {
	fill: currentColor;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

main, #settings-dialog-wrapper, #settings-dialog {
	transition: all 1s;
}

main {
	transform: translateX(-100%);
}

body.ingame main {
	transform: none;
}

#settings-dialog-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.3);
}

#settings-dialog {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	background: white;
	border-radius: 16px;
	width: 500px;
	max-width: 90%;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding: 24px;
}

body.ingame #settings-dialog {
	top: 0;
	transform: translate(-50%, -120%);
}

body.ingame #settings-dialog-wrapper {
	background-color: transparent;
	pointer-events: none;
}

button {
	display: inline-block;
	cursor: pointer;
	outline: none;
	background: #57f;
	color: white;
	border: none;
	font-size: 1.2em;
	transition: all 0.4s;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	padding: 8px 16px;
	border-radius: 8px;
}

button:hover {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	transform: scale(1.1);
}

button:active {
	transform: scale(0.8);
}

button.round {
	padding: 8px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.hidden {
	pointer-events: none;
	transform: scale(0);
}

#settings-players {
	position: relative;
	width: 100%;
	height: 0;
	transition: height 0.4s;
	margin-bottom: 16px;
}

.settings-player {
	position: absolute;
	height: 50px;
	width: 100%;
	transition: all 0.4s;
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	border: solid #777 2px;
	border-radius: 8px;
	outline: none;
	font-size: 1em;
	transition: all 0.4s;
	padding: 8px;
	margin-right: 10px;
}

input:focus {
	border-color: #59f;
}

#start-game {
	align-self: flex-end;
	margin-top: 48px;
}